/*-----------------Section News---------------*/
.news {
    width: 100%;
    background-color: #e6e9ed;
    padding: 20px 145px 20px;
}
.news__title {
    font-size: 1.8rem;
    margin: 0 0 20px;
}
.container-mainArticle {
    display: flex;
    justify-content: space-between;
}
.container-imgMainArticle {
    max-width: 600px;
    margin-right: 120px;
}
.container-imgMainArticle__img {
    width: 100%;
}
.container-articleContent__title {
    font-size: 2.0rem;
    font-weight: 700;
    margin: 20px 0;
}
.container-articleContent__text {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: justify;
}
.btn-more {
    width: 110px;
    height: 50px;
    border: 1px solid #47cfac;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*--------------------last post-----------------------*/
.last-posts {
    width: 100%;
    padding: 20px 145px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.last-posts__title {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 30px;
}
.container-articles {
    width: 100%;
    display: grid;
    grid-template: repeat(2, auto) / repeat(3 , auto);
    border-top: 1px solid;
    justify-content: center;
    column-gap: 30px;
}
.article {
    width: 335px;
    padding: 15px;
    margin-bottom: 25px;
}
.article__img {
    max-width: 300px;
    margin-bottom: 20px;
}
.article__title {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 25px;
}
.article__text {
    font-size: 1.4rem;
    text-align: justify;
    margin-bottom: 27px;
}



/*-------------blogpost section----------------*/
.container-imgBlog {
    width: 100%;
    padding: 0 40px;
}
.container-imgBlog__img {
    width: 100%;
}

.article-content {
    width: 100%;
    padding: 50px 160px;
}
.article-text {
    border-top: 1px solid;
    padding: 40px 0 0;
}
.article-text__title {
    font-size: 4rem;
    margin-bottom: 30px;
}
.contact {
    width: 100%;
    background-color: #e6e9ed;
}
.container-contact {
    width: 100%;
    padding: 40px 100px 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact-mail {
    width: 400px;
    display: flex;
    align-items: center;
}
.contact-mail__img {
    width: 100px;
    margin-right: 20px;
}
.contact-content {
    padding-top: 10px;
}
.contact-content__title {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 5px;
}
/*-----------profile-----------------*/
.container-imgMainArticle__profile {
    max-width: 500px;
}
.projects {
    width: 100%;
    padding: 50px 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.container-projects {
    display: grid;
    grid-template: repeat(1, auto) / repeat(3 , auto);
    column-gap: 100px;
    border-top: 1px solid;
    padding-top: 20px;
}
.project-content__text {
    margin-top: 8px;
    text-align: justify;
    font-size: 1.4rem;
}